.highcharts-figure, .highcharts-data-table table {
    min-width: 320px; 
    max-width: 800px;
    margin: 1em auto; 
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    /*background: #f1f7ff;*/
}


.modal-content,.modal-header,.modal-header h4 span{
  background-color: #667292 !important;
  color: #fff
}

.modal-white form div label{
  color: #fff;
}


.bg-graphs{
  background-color:#fefbd8  !important; 
}

.bg-panel{
  background-color:#ff7b25 !important;
  color:#fff;
}

.bg-bigpanel{
  background-color:#96ceb4 !important;
  color:#fff;
}

.bg-hover:hover{
  background-color: #ffcc5c  !important;
  color: #000;
  transition: color-color .50s ease-in-out;
  cursor: pointer;
}

.bg-entities{
  background-color: #618685  !important;
  color: #fff
}
