html,
body {
    height: 100%;
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    color: #0f0f0f;
}
@media (max-width: 767px) {
    .skin-blue .main-header .navbar .dropdown-menu li a {
        color:#337ab7!important;
    }
}
/* Legendes */
.legend-border{
    font-family: monospace
}
.box-shadow{
    box-shadow: 5px 5px;
}
.modal-header>h4{
    color: #0f0f0f;
    position: absolute;
    top: 8px
}
.pac-container{
    z-index: 60000;
}
.table-responsive {
    overflow-x: none!important;
}
/******* Processing DIV *************/
.system-progress{
    position: absolute;
    z-index: 20000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('/images/img-loader64.gif') no-repeat center;
}
.progress-stop{
    display: none
}
.progress-start{
    display: initial;
    background-color: white;
    opacity: 0.8
}

/******* Processing DIV *************/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.form-control:focus{
    background-color: #fdf7f7
}
/******** Cancelled Request *****/

.section-request{    
position: relative;
    width: 100%;
}
.background-cancel{
    position: absolute;
    background-image: url("/images/ui-diagonal.png");
    opacity: 0.8;
    z-index: 80000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#cancelled-div{
    position: absolute;
    z-index: 170000;
    top: -25px;
    left: 0px;
    right:0px;
    height: 100%;
}
.cancelled-hide{
    display: none;
}
.center-div
{
     margin: 0 auto;
     width: 480px; 
     left: 20%;
}
.outer-div
{
  padding: 30px;
}
.inner-div
{
  margin: auto;
  width: 450px;
  height: auto;
  border-radius: 3px;
  z-index: 9000000;
}
.request-cancelled{
    display: block;
}
#cancelled-img{
    margin-top: 80px!important;
    margin: auto;
    width: 330px;
}
/********************************/
/**** Kartik Grivew ****/
.kv-grid-table>thead{
    background-color: #337ab7;
    color: white;
    text-decoration: none
}
.kv-grid-table>thead>tr>th a{
    color: white;
    text-decoration: none
}
/**** Kartik Grivew ****/
.modal-header {
    border-bottom-color: #f4f4f4;
    padding-bottom: 10px!important;
    padding-top: 15px!important;
    background-color: #3c8dbc;
}
.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

div.required label:after {
    content: "*";
    color: red;
}

fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

fieldset>legend {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    margin-bottom: 0;
    font-size: 17px
}
.legend-font{
    font-size: 12px
}

.messagewrap{
    text-align:center
}
.messageleft{
	margin:0 auto !important; 
    float: left;
	height: 600px;
	width: 370px; 
	background-color: #222d32 !important; 
}

.messagecenter{
	text-align:left;
	height: 600px;
	background-color: #B0C4DE !important;

}
.messagecenter.sent{

}

*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1200px;
    background: #444753;
    border-radius: 5px;
}

.people-list {
    width: 260px;
    float: left;
}
.people-list .search {
    padding: 20px;
}
.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}
.people-list .fa-search {
    position: relative;
    left: -25px;
}
.people-list ul {
    padding: 20px;
    height: 700px;
}
.people-list ul li {
    padding-bottom: 20px;
}
.people-list img {
    float: left;
}
.people-list .about {
    float: left;
    margin-top: 8px;
}
.people-list .about {
    padding-left: 8px;
}
.people-list .status {
    color: #92959E;
}

.chat {
    width: 900px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat .chat-header img {
    float: left;
}
.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}
.chat .chat-header .chat-num-messages {
    color: #92959E;
}
.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-header .fa-phone {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}
.chat .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}
.chat .chat-history .my-message {
    background: #86BB71;
}
.chat .chat-history .other-message {
    background: #94C2ED;
}
.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}
.chat .chat-message {
    padding: 30px;
}
.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
.chat .chat-message button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}
.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*.requests {
    overflow-y:auto;
}

.modal-open {
    overflow: hidden!important;
}*/
